@font-face {
	font-family: 'Harp';
	src:
		url("../HARRP___.TTF") format('truetype');
	/* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
}

* {
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

html {
	background-image: url("../images/background.png");
	/* The image used */
	background-attachment: fixed;
	background-repeat: no-repeat;
	/* Do not repeat the image */
	background-size: cover;
	background-position: center;
	overflow-y: scroll;
}

::-webkit-scrollbar {
    display: none;
}

h1 {
	color: white;
	border-color: black;
	text-shadow: 0 0 3px black, 0 0 5px black;
	font-size: 80px;
	opacity: 0.85;
	font-family: 'Harp';
	letter-spacing: 10px;
	text-align: center;
	margin-top: 100px;
	margin-bottom: 80px;
}

h2 {
	color: white;
	border-color: black;
	text-shadow: 0 0 3px black, 0 0 5px black;
	opacity: 0.85;
	font-family: 'Harp';
	letter-spacing: 10px;
	text-align: center;
	margin-top: 20px;
}

h5 {
	color: white;
	border-color: black;
	text-shadow: 0 0 3px black, 0 0 5px black;
	opacity: 0.85;
	font-family: 'Harp';
	letter-spacing: 1px;
	text-align: center;
	margin-top: 20px;
}

h4 {
	color: white;
    text-shadow: 0 0 5px white, 0 0 0.5px white;
    opacity: 0.95;
	font-family: 'Harp';
	font-size: 20px;
	letter-spacing: 3px;
	text-align: center;
	margin-top: 20px;
	margin-bottom: 10px;
	width: max-content;
}

h6 {
	color: white;
    text-shadow: 0 0 5px white, 0 0 0.5px white;
    opacity: 0.95;
	font-family: 'Harp';
	font-size: 20px;
	letter-spacing: 5px;
	text-align: center;
	margin-top: 20px;
	margin-bottom: 10px;
}