@import url('https://fonts.googleapis.com/css2?family=Syne+Mono&display=swap');

body {
    overflow: hidden;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    font-family: 'Syne Mono', monospace;
    margin-bottom: 20px;
    font-size: 20px;
}

::-webkit-input-placeholder {
    font-family: 'Syne Mono', monospace;
    font-size: 20px;
    color: rgba(255, 255, 255);
    opacity: .6;
}

:-ms-input-placeholder {
    color: rgba(255, 255, 255);
    opacity: .6;
}

input:focus {
    outline: 0 solid;
    outline-style: transparent;
    color: rgba(0, 0, 0);

}

.input-style,
.input-error {
    font-family: 'Syne Mono', monospace;
    font-size: 20px;
    letter-spacing: 2.2px;
    background: transparent;
    border: 0 solid;
    border-bottom: 2px solid rgb(255, 255, 255, .9);
    color: white;
    display: block;
    margin: .8rem;
    padding: .5rem;
    transition: background-color 250ms ease-in;
}

.input-style:focus,
.input-error:focus {
    background-color: white;
    color: black;
    transition: background-color 250ms ease-in;
}

