ul li {
    font-weight: bold; /* If you want it to be bold */
    display: list-item; 
    margin: 10px 0 12px 0;
    font-size: large;
}

.playerOnline {
    color: greenyellow;
}

.playerOffline {
    color: red;
}
