.overlay {
	position: fixed;
	top: 0;
	background-color: rgba(0, 0, 0, .5);
	z-index: 1000;
}

.modal {
	position: fixed;
	background-color: black;
<<<<<<< Updated upstream
	padding: 60px;
=======
	padding: 100px;
>>>>>>> Stashed changes
	top: 50%;
	left: 50%;
	z-index: 1000;
	transform: translate(-50%, -50%);
	opacity: 0.95;
	color: #FFFFFF;
}
