.mortifagoBoard {
    background-color: #51329F;
    width: 1000px;
    text-align: center;
    border-radius: 10px;
    border: 1px white solid;
}

.mortifago-cards-slot {
    display: flex;
    margin-left: 20px;
    margin-right: 20px;
}

img.spell {
    width: 130px;
    height: 160px;
    margin-top: 40px;
}

.proclamation {
    height: inherit;
    width: 130px;
    border-radius: 10px;
    box-shadow: 3px 2px #353434;
}

.m-card-slot img {
    height: inherit;
}

.m-card-slot {
    background-color: #673fca;
    border: 1px solid black;
    margin: 10px;
    height: 230px;
    width: 16%;
    border-radius: 10px;
}    
.title div {
    width: 33.3%;
    
}    

.mortifagoBoard div {
    align-items: center;
}    

.title div img {
    width: 250px;
}    

.title {
    display: flex;
    flex-direction: row;
}    

