.orderBoard {
    background-color: #ee7160;
    width: 1000px;
    text-align: center;
    border-radius: 10px;
    border: 1px white solid;
}

.order-cards-slot {
    display: flex;
    margin-left: 40px;
    margin-right: 40px;
}
.o-card-slot {
    background-color: #ce9080;
    border: 1px solid black;
    margin: 10px;
    height: 230px;
    width: 20%;
    border-radius: 10px;
}

.o-card-slot img {
    height: inherit;
}
