.SpellsList {
    display: flex;
    height: 250px;
    background-color: #4c2882;
    opacity: 0.85;
}

.SpellsList li {
    display: block;
    margin: 10px;
    width:175px;
    height:65px;
    margin:20px auto;
    border-radius:10px;
    text-align: center;
    line-height: 65px;
}

.SpellsList li::before {
    content: none;
}

.SpellButton {
    background-color: transparent;
    border: none;
    inline-size: min-content;
    text-align: -webkit-center;
}

.SpellButton:hover{
    opacity: 0.5;
    cursor: pointer;
}

.cardsList {
    display: flex;
    flex-direction: row;
    height: 435px;
    background-color: #4c2882;
}

.cardsList li {
    display: block;
    margin: 10px;
    width:175px;
    height:65px;
    margin:20px auto;
    border-radius:10px;
    text-align: center;
    line-height: 65px; 
}

.Spells {
    background-color: #3e2761;
}

.cardsList li::before {
    content: none;
}


.loyalty li {
    display: block;
    margin:100px auto;
    border-radius:10px;
    text-align: center;
}

.loyalty li::before {
    content: none;
}

.loyalty {
    display: flex;
    flex-direction: column;
    height: 435px;
    background-color: rgb(46, 43, 43);
}

.loyalty img{
    height: 300px;
    margin-top: -40px;
    border-radius: 10px;
}

.ExpelliarmusOptions{
    display: flex;
    flex-direction: row;
    height: 250px;
    background-color: #3e2761;
}

.ExpelliarmusOptions li {
    margin:20px auto;
}

.ExpelliarmusOptions li::before {
    content: none;
} 
